<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
  <link rel="stylesheet" href="/assets/style.css"/>
  <title>{% block title %}{% endblock %} - My Webpage</title>
  {% endblock %}

  <!-- theme toggle -->
  <style>
      html.dark-theme {
      color-scheme: dark;
    }

    .theme-toggle {
      cursor: pointer;
    }
  </style>
  <script>
    let theme = localStorage.getItem('theme')
    if (theme === 'dark') {
      document.documentElement.classList.add('dark-theme')
    } 

    window.addEventListener('DOMContentLoaded', _ => {
      const themeToggle = document.querySelector('#theme-toggle')
      themeToggle.addEventListener('click', e => {
        if (theme === 'dark') {
          theme = 'light'
          localStorage.setItem('theme', theme)
          document.documentElement.classList.remove('dark-theme')
        } else if (!theme || theme === 'light') {
          theme = 'dark'
          localStorage.setItem('theme', theme)
          document.documentElement.classList.add('dark-theme')
        }
      })
    })
  </script>
</head>
<body>
<link rel="stylesheet" href="/assets/style.css">
<nav>
  <ul>
  {# #}
    {% for n in context['navlinks'] %}
    <li>
      <a href="{{ n.url }}" class="{% if n.url == context['current_url'] %}active{% endif %}">
        {{ n.name }}
      </a>
    </li>
    {% endfor %}
    {#
     #}
  </ul>
  <button class="theme-toggle" id="theme-toggle">
    theme toggle
  </button>
</nav>
<div id="content">{% block content %}{% endblock %}</div>

{% include 'footer.html' %}

</body>
</html>